@{

}

<h1>Add Cheese</h1>

<form method="post">
    <input name="name" />
    <p>Name of cheese</p>
    <br />
    <textarea name="description" rows="5" cols="50"></textarea>
    <input type="submit" value="Add Cheese" />
</form>
